<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [queryParams]="referrerRoute.queryParams" [routerLink]="referrerRoute.commands">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'StudyPrograms.Longis.Courses.Title'"></span></a>
    </li>
  </ul>

  <div class="row pt-2 pb-2">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="course">{{course.displayCode}} - {{course.name}} </h1>
      <h1 class="my-auto px-0 py-2" *ngIf="isCreate">{{'Courses.NewCourse' | translate}}</h1>
    </div>
    <ng-container *ngIf="course">
      <ng-container *if-location="'/courses/' + course.id + '/edit'">
        <div class="col-auto px-2 py-0 ml-auto">
          <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
