<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
        <advanced-search>
          <!--          <app-internships-advanced-table-search [(filter)]="filter.value"></app-internships-advanced-table-search>-->
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Internships.Title'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="table && table.selected && table.selected.length > 0" class="text-danger text-decoration-none mr-2"
           href="javascript:void(0)" (click)="deleteAction()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Tables.RemoveItem'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'Tables.AddItem'"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
    </div>
  </div>
</div>
<router-modal></router-modal>
