<div>
  <!-- <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search [(filter)]="filter.value" [collapsed]="true" [table]="students">
        <advanced-search>
          <app-exams-students-advanced-table-search [(filter)]="filter.value">
          </app-exams-students-advanced-table-search>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="students">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>

  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Exams.Students'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group">
        <button class="btn btn-outline-indigo btn-lg" type="button" (click)="exportGradeTable()"
                [translate]="'Exams.ExportGradeTable'">
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button type="button" class="dropdown-item universis-btn-export">
            <span [translate]="'Exams.ExportStudentsList'"></span>
          </button>
          <button class="dropdown-item" [translate]="'Exams.ExportGradeTable'" (click)="exportGradeTable()">Export grade table</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [showFooter]="false" (load)="onDataLoad($event)" #students [height]="600" >
      </app-advanced-table>
    </div>
  </div>

  <router-modal></router-modal>

</div>
