<div *ngIf="model">
  <div class="row mt-4" *ngIf="model?.length !=0;">
    <div class="col-lg-8 col-md-7 col-12">
      <app-instructors-dashboard-overview-exams [id]="model.id"></app-instructors-dashboard-overview-exams>
      <app-instructors-dashboard-overview-currentclasses [id]="model.id"></app-instructors-dashboard-overview-currentclasses>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
      <app-instructors-dashboard-overview-profile [id]="model.id"></app-instructors-dashboard-overview-profile>
      <app-instructors-dashboard-overview-supervised *if-location="'/registrations'" [id]="model.id"></app-instructors-dashboard-overview-supervised>
      <app-instructors-dashboard-overview-theses [id]="model.id"></app-instructors-dashboard-overview-theses>
    </div>
  </div>
</div>
<router-modal></router-modal>