<div class="col-12 tab-navbar tab-container">
  <ul class="mt-3 nav nav-tabs d-flex" *ngIf="show">
    <li class="nav-item">
      <a class="nav-link" [translate]="'StudyPrograms.Overview'" [routerLink]="['general']"
        [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" *if-location="'/students/specializations'" [translate]="'StudyPrograms.Specialties'" [routerLink]="['specialties']"
       [routerLinkActive]="'active'"></a>
  </li>
    <li class="nav-item" *if-location="'/program-groups'">
      <a class="nav-link" [translate]="'StudyPrograms.Groups'" [routerLink]="['groups']"
         [routerLinkActive]="'active'"></a>
    </li>
    <ng-container *ngIf="studySpecializations">
      <li class="nav-item" *ngFor="let specialization of studySpecializations">
        <a class="nav-link"
           [routerLink]="['specialization', specialization.specialty, 'specialization-courses']"
           [translate]="'StudyPrograms.Longis.Courses.Title'"
           [routerLinkActive]="'active'"></a>
      </li>
      <li class="nav-item" *ngFor="let specialization of studySpecializations" >
        <a class="nav-link"
           [routerLink]="['specialization', specialization.specialty, 'classes']"
           [translate]="'StudyPrograms.Longis.Classes.Title'"
           [routerLinkActive]="'active'"></a>
      </li>
      <li class="nav-item" *ngFor="let specialization of studySpecializations" >
        <a class="nav-link"
           [routerLink]="['specialization', specialization.specialty, 'exams']"
           [translate]="'StudyPrograms.Longis.Exams.Title'"
           [routerLinkActive]="'active'"></a>
      </li>
      <li class="nav-item" *ngFor="let specialization of studySpecializations" >
        <a class="nav-link"
           [routerLink]="['specialization', specialization.specialty, 'grade-submissions']"
           [translate]="'StudyPrograms.Longis.Grades.Title'"
           [routerLinkActive]="'active'"></a>
      </li>
    </ng-container>
    <li class="nav-item" *if-location="'/students/semester'">
      <a class="nav-link" [translate]="'StudyPrograms.SemesterRules'" [routerLink]="['semesterRules']"
         [routerLinkActive]="'active'"></a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [translate]="'StudyPrograms.Events'" [routerLink]="['timetable']"
        [routerLinkActive]="'active'"></a>
    </li> -->
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>

  <div [ngClass]="show === true ? 'tab-content': ''">
    <div [ngClass]="show === true ? 'tab-pane active': ''">
      <router-outlet></router-outlet>
      <router-modal></router-modal>
    </div>
  </div>
</div>
