<div class="row">
  <div class="col-6 mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span  *ngIf="recordsTotal==1" [translate]="'Students.studyProfile'"></span><span  *ngIf="recordsTotal!=1" [translate]="'Students.studyProfiles'"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4 mr-3">
    <app-advanced-table [selectable]="false" #model [showFooter]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
  </div>
</div>