<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.StudentTitle'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.StudentTitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="table && table.selectable">
        <button [disabled]="!(table && table.selected && table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button"
                [translate]="'Students.Actions'">

        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(table && table.selected && table.selected.length)" class="dropdown-item" [translate]="'Students.CompleteDeclaration'" (click)="changeDeclarationStatus('CompletedActionStatus')">Complete Declaration</button>
          <button [disabled]="!(table && table.selected && table.selected.length)" class="dropdown-item" [translate]="'Graduations.CompleteGraduation'" (click)="changeGraduationStatus('CompletedActionStatus')">Complete Graduation</button>
          <button [disabled]="!(table && table.selected && table.selected.length)" class="dropdown-item" [translate]="'Students.CancelDeclaration'" (click)="changeDeclarationStatus('CancelledActionStatus')">Cancel Declaration</button>
          <button [disabled]="!(table && table.selected && table.selected.length)" class="dropdown-item" [translate]="'Graduations.CancelGraduation'" (click)="changeGraduationStatus('CancelledActionStatus')">Cancel Graduation</button>
          <button [disabled]="!(table && table.selected && table.selected.length)" class="dropdown-item" [translate]="'Graduations.SetLastObligationDate'" (click)="setLastObligationDate()">Set Last Obligation Date</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table [autoLoad]="true" [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>

