<div *ngIf="model">
  <div class="row mt-3">
    <div class="col-12">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/exams', courseExamId, 'dashboard', 'grading']">
      <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Exams.BackToList'"></span>
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-7">
      <div class="d-block">
        <h5 class="mb-0 text-truncate">{{model?.course?.name}}</h5>
      </div>
      <div class="d-block font-lg text-secondary">
        <span [translate]="'Exams.ExamPeriod'"></span> - {{model?.examPeriod?.name}} {{model.year?.alternateName}}
      </div>
    </div>
  </div>
  <button class="btn btn-primary float-right" [translate]="'Exams.DownloadGradingSheet'" (click)="doDownloadGradingSheet()"></button>
  <div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-7">
      <div class="row mt-1">
        <div class="col-12">
          <span class="text-secondary mr-3" *ngFor="let courseClass of courseClasses ">
          <i class="fa fa-graduation-cap pr-1"></i>
          {{ "Periods." +courseClass?.courseClass?.period?.alternateName | translate}} {{ courseClass?.courseClass?.year?.alternateName }}
          </span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{model.course?.displayCode}}</span>
          <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ 'Exams.Units' | translate }}: {{model?.course?.units}}  {{ 'Exams.ECTS' | translate }}: {{model?.course?.ects}}</span>
        </div>
      </div>
      <ng-container *ngIf="lastError">
        <!--show error-->
        <div class="row mt-3">
            <div class="col-12">
              <div class="alert alert-warning" role="alert">
                <span [translate]="'Exams.SuccessError'"></span><br>
                <small>{{lastError}}</small>
              </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="mt-3">
    <ngx-dropzone [multiple]="false" [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"  (change)="onFileSelect($event)">
    <ngx-dropzone-label style="z-index: 0" class="p-2">{{'Exams.UploadGradingScore' | translate}}</ngx-dropzone-label>
    <ng-container *ngFor="let f of gradeSheets">
      <ngx-dropzone-preview [file]="f" [removable]="true" (removed)="onFileRemove(f)">
        <ngx-dropzone-label class="text-truncate"> {{f.name}} </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ng-container>
    </ngx-dropzone>
    <div class="text-center mt-2">
      <span class="text-muted" [translate]="'Exams.GradingScoreHelp'"></span>
    </div>
    <button class="btn btn-indigo mt-3" [translate]="'Exams.InitialSubmission'" [disabled]="!toBeInitiallySubmitted" (click)="initialSubmissionConfirmation()"></button>
    <button class="btn btn-indigo float-right mr-2 mt-3" [translate]="'Exams.FinalSubmission'" [disabled]="!toBeFinallySubmitted" (click)="finalSubmissionConfirmation()"></button>
  </div>
  <div class="row mt-4" *ngIf="recordsTotal">
    <div class="col-12">
      <span class="border-bottom d-block"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-lg text-secondary" *ngIf="recordsTotal">
        <span [translate]="'Exams.SubmittedModifiedGrades'"></span><span>&nbsp;</span><span>: {{recordsTotal}}</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="lastInfo">
    <!--show error-->
    <div class="row mt-3">
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            <span> {{ lastInfo }} </span>
          </div>
        </div>
    </div>
  </ng-container>
  <div class="row">
    <div class="col-12 mb-4 mt-3">
      <app-advanced-table [tableEditor] [selectable]="false" [scrollable]="true" [showFooter]="false" [serverSide]="false"
                          #grades [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
</div>
