<!-- debugging purposes {{show}} -->
<div class="col-12 tab-navbar tab-container" *ngIf="show">
  <ul class="nav  d-flex">
    <li class="tab-brand disabled">
      <!-- remove referrer -->
      <!-- without using referrer routerLink -->
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/payActions/list/active']">

        <!-- using referrer routerLink -->
        <!-- <a class="text-secondary nav-link pl-0 font-lg" [queryParams]="referrerRoute.queryParams" [routerLink]="referrerRoute.commands"> -->
        
          <i class="fa fa-chevron-left pr-1"></i><span [translate]="'PayActions.TitlePlural'"></span></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>
  <div class="row pt-2" *ngIf='model'>
    <div class="col-auto" *ngIf="show">
      <h1>{{ model?.name }}<span><i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate"
            class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="model">
      <span *ngIf="show"> <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button> </span>
    </div>
  </div>
  <div class="row pt-2 pb-2" *ngIf="!model">
    <div class="col-auto">
      <h1 class="text-dark">
        <span [translate]="'StudyPrograms.NewStudyProgram'"></span></h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'StudyPrograms.StudyLevel'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{'StudyLevels.' + model.studyLevel.alternateName | translate}}</span>
      </div>
    </div>
  </div>
</ng-template>
