<div *ngIf="timetable">
  <div class="card" *ngIf="timetable?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'StudyPrograms.Longis.Timetable.Info'"></h5>
      <a [routerLink]="['../../../../','events',timetable.id.toString(),'dashboard', 'overview']"
        class="text-primary ml-auto my-auto"><span [translate]="'StudyPrograms.Longis.Timetable.More'"></span></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12 col-md-6 text-secondary">
          <span>{{timetable?.name}}</span>
        </div>
      </div>
    </div>

    <div class="card-footer border-top py-4 text-secondary">
      <!-- <div class="card-body pt-0 pb-3">
     
        <div class="timetable-group row mb-2 text-secondary">
          <div class="col-12 col-md-5 col-xl-3">
            <span> {{ "timetables.AcademicYear" | translate }} </span>
          </div>
          <div class="col-12 col-md-7 col-xl-9 text-dark my-auto">
            <span>{{ timetable?.academicYear?.alternateName }}</span>
          </div>
        </div>
        <div class="form-group row mb-2 text-secondary">
          <div class="col-12 col-md-5 col-xl-3">
            <span> {{ "Events.AcademicPeriods" | translate }} </span>
          </div>
          <div *ngIf="timetable.academicPeriods && timetable.academicPeriods.length"
            class="col-12 col-md-7 col-xl-9 text-dark my-auto">
            <span *ngFor="let period of event.academicPeriods; index as i">{{ 'Periods.' + period?.alternateName +
              'Long' | translate }}<span *ngIf="i < timetable.academicPeriods.length - 1">, </span></span>
          </div>
        </div>
        <div class="form-group row mb-2 text-secondary">
          <div class="col-12 col-md-5 col-xl-3">
            <span> {{ "Events.ExamPeriods" | translate }} </span>
          </div>
          <div *ngIf="event.examPeriods && event.examPeriods.length" class="col-12 col-md-7 col-xl-9 text-dark my-auto">
            <span *ngFor="let period of event.examPeriods; index as i">{{period?.alternateName}}<span
                *ngIf="i < event.examPeriods.length - 1">, </span></span>
          </div>
        </div>
      </div> -->
      <div class="form-group row mb-1">
        <div class="col-7 text-dark">
          <span
            [ngClass]="timetable?.eventStatus?.alternateName === 'EventCompleted' ?'text-danger': timetable?.eventStatus?.alternateName === 'EventOpened' ?'text-info': 'text-indigo'">
            {{'StudyPrograms.Longis.Timetable.EventStatusTypes.' + timetable?.eventStatus.alternateName | translate}}
          </span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Longis.Timetable.StartDate'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ (timetable?.startDate | date:'shortDate') || '-' }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Longis.Timetable.EndDate'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{ (timetable?.endDate | date:'shortDate') || '-' }}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'StudyPrograms.Longis.Timetable.AvailableEventTypes'"></span>
        </div>
        <div class="col-7 text-dark">
          <div *ngIf="timetable.availableEventTypes && timetable.availableEventTypes.length>0">
            <div class="form-group text-dark">
              <div *ngIf="timetable?.availableEventTypes?.length > 0" id="group-list" class="flex-column">
                <span *ngFor="let eventType of timetable?.availableEventTypes; let i = index">
                  <span class="text-dark">{{eventType?.name }}<span
                      *ngIf="i+1 < timetable?.availableEventTypes?.length">, </span></span>
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="!timetable.availableEventTypes || timetable.availableEventTypes.length === 0">
            <span class="text-secondary" [translate]="'Events.TimetableEvents.NoEventTypes'"></span>
          </div>
        </div>
      </div>


      <!-- <div class="card-body pt-0 pb-3" *ngIf="!event.availableEventTypes || event.availableEventTypes.length===0">
        <div class="text-secondary" [translate]="'Events.TimetableEvents.NoEventTypes'"></div>
      </div>
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Events.Places.AvailablePlaces'"></h5>
      </div>
      <div class="card-body pt-0 pb-3" *ngIf="event.availablePlaces && event.availablePlaces.length>0">
        <div id="group-list" class="flex-column">
          <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-header">
            <li class="sis&#45;&#45;list-group-item">
              <div class="d-flex justify-content-center align-items-center">
                <div class="sis&#45;&#45;list-group-item_sm_column d-block text-left"
                  [translate]="'Events.Places.Code'"></div>
                <div class="sis&#45;&#45;list-group-item_lg_column d-block text-left"
                  [translate]="'Events.Places.TitleSingular'"></div>
                <div class="sis&#45;&#45;list-group-item_sm_column d-block text-left"
                  [translate]="'Events.Places.Capacity'"></div>
                <div class="sis&#45;&#45;list-group-item_lg_column d-block text-left"
                  [translate]="'Events.Places.ParentPlace'"></div>
              </div>
            </li>
          </ul>
          <ul class="sis&#45;&#45;list-group sis&#45;&#45;list-group-body" *ngIf="event?.availablePlaces?.length > 0">
            <li class="sis&#45;&#45;list-group-item" *ngFor="let place of event?.availablePlaces">
              <div class="d-flex justify-content-center align-items-center list-color ">
                <div class="sis--list-group-item_sm_column d-block text-lg-left"><span class="text-dark">
                    {{place.displayCode}}</span></div>
                <div class="sis--list-group-item_lg_column d-block text-lg-left"><span class="text-secondary">{{
                    place.name }}</span></div>
                <div class="sis--list-group-item_sm_column d-block text-lg-left"><span class="text-dark">
                  {{place.capacity}}</span></div>
                <div class="sis--list-group-item_lg_column d-block text-truncate text-lg-left">
                  <span class="text-secondary">
                    {{place.containedInPlace}}</span>
                </div>
  
              </div>
            </li>
          </ul>
  
        </div>
      </div>
      <div class="card-body pt-0 pb-3" *ngIf="!event.availablePlaces || event.availablePlaces.length===0">
        <div class="text-secondary" [translate]="'Events.Places.NoPlaces'"></div>
      </div> -->
    </div>
  </div>
</div>