<div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Classes.Sections'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Classes.SectionSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.sections && this.sections.selected && this.sections.selected.length"
           class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'Classes.Remove'"></span>
        </a>
          <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
            <span>+</span><span>&nbsp;</span><span [translate]="'Classes.AddSection'"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #sections (load)="onDataLoad($event)" [selectable]="true" [height]="600" [showfooter]="false"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
