<div  class="pt-5">
  <div class="card shadow-none border border-gray-200">
    <div class="card-body px-3 py-3">
      <div class="row pt-3 pb-3 ">
        <div class="col-auto mr-auto">
          <h1 class="text-dark"[translate]="'Instructors.SendingGrades'"></h1>
        </div>
        <div  class="text-dark font-xl col-auto ml-auto pt-2 pr-4">
          <a href="#" class="text-decoration-none ml-4 pt-3 fa fa-chevron-right text-secondary"></a>
        </div>
      </div>
      <div *ngFor ="let recentGrade  of recentGrading">
        <div class="card shadow-none border border-gray-200 mb-2">
          <div class="card-body px-3 py-3">
            <a href="#" class="row pt-2 pb-2 text-decoration-none">
              <div class="col-auto mr-auto d-inline-block text-truncate">
                <div herf="#" class="text-dark font-xl">{{recentGrade?.description}} </div>
              </div>
            </a>
          </div>
        </div>
        <div class="mt-4 mb-3 text-right">
          <span><span [translate]="'Instructors.LastGrading'"> :</span> {{ recentGrade?.dateModified | date:'short' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
