<div class="row animated fadeIn">
  <div class="col-md-12 mb-4 d-flex justify-content-between">
    <div class="row  w-100">
      <div class="col-12 col-md-6">
        <h1 [translate]="title"></h1>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="d-flex flex-wrap justify-content-left">
        <ng-container *ngFor="let item of studyPrograms$ | async">
            <div class="px-2">
                <div class="card card-total">
                    <div class="card-body">
                        <h2 class="card-title">{{item.total}} <h5 class="font-weight-normal"><span [translate]="'Courses.StudyPrograms'"></span></h5>
                        </h2>
                        <h4 class="card-text">{{item.name | translate}}</h4>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let item of students$ | async">
          <div class="px-2">
              <div class="card bg-gray-100 card-total">
                  <div class="card-body">
                      <h2 class="card-title">{{item.total}} <h5 class="font-weight-normal"><span [translate]="'Courses.Students'"></span></h5>
                      </h2>
                      <h4 class="card-text">{{item.name | translate}}</h4>
                  </div>
              </div>
          </div>
      </ng-container>
      <ng-container *ngFor="let item of candidates$ | async">
        <div class="px-2">
            <div class="card bg-orange card-total">
                <div class="card-body">
                    <h2 class="card-title text-dark">{{item.total}} <h5 class="text-dark font-weight-normal"><span [translate]="'Candidates.Students'"></span></h5>
                    </h2>
                    <h4 class="card-text text-dark">{{item.name | translate}}</h4>
                </div>
            </div>
        </div>
    </ng-container>
    </div>
  </div>
  <div class="col-md-12 mb-4 d-flex justify-content-center">
      <app-dashboard-quick-search *ngIf="false"></app-dashboard-quick-search>
      <app-dashboard-quick-actions *ngIf="false"></app-dashboard-quick-actions>
  </div>
  <div class="col-lg-8 col-md-7 col-12">
    <app-dashboard-pending-student-requests></app-dashboard-pending-student-requests>
    <app-dashboard-exam-documents></app-dashboard-exam-documents>
  </div>

  <div class="col-lg-4 col-md-5 col-12">
    <app-dashboard-exam-participate-summary></app-dashboard-exam-participate-summary>
  </div>
</div>

