<div class="row">
  <div class="col-sm-12">
      <div id="advanced-form">
          <div class="row">
              <div class="col-sm-12">
                  <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                      <div class="form-group col-6">
                          <label class="pr-3" for="instructorName" [translate]="'Instructors.Instructor'">Student</label>
                          <input [(ngModel)]="filter.instructorName" spellcheck="false" type="text" id="instructorName"
                              name="instructorName" class="form-control col text-left"
                              placeholder="{{ 'Instructors.Name' | translate }}">
                      </div>
                      <div class="form-group col-6">
                          <label class="pr-3" for="departmentName" [translate]="'Instructors.Department'"></label>
                          <input [(ngModel)]="filter.departmentName" spellcheck="false" type="text" id="departmentName"
                              name="departmentName" class="form-control col text-left"
                              placeholder="{{ 'Instructors.Name' | translate }}">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                      <div class="form-group col-xl-4 col-md-6">
                          <div class="d-flex flex-row w-100">
                              <label class="pr-3" for="category" [translate]="'Instructors.Category'"></label>
                              <input [(ngModel)]="filter.category" spellcheck="false" type="text" id="category"
                                  name="category" class="form-control col text-left"
                                  placeholder="{{ 'Instructors.UserTitle' | translate }}">
                          </div>
                      </div>
                      <div class="form-group col-xl-4 col-md-6">
                          <div class="d-flex flex-row w-100">
                              <label class="pr-3" for="status" [translate]="'Instructors.Status'"></label>
                              <select id="status" class="custom-select flex-grow-1" [(ngModel)]="filter.status">
                                  <option [value]="undefined" [translate]="'Instructors.Choose'"></option>
                                  <option [value]="1" [translate]="'Instructors.Active'"></option>
                                  <option [value]="2" [translate]="'Instructors.Inactive'"></option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group col-xl-4 col-md-6">
                          <div class="d-flex flex-row w-100">
                              <label class="pr-3" for="workphone" [translate]="'Instructors.WorkPhone'"></label>
                              <input [(ngModel)]="filter.workphone" spellcheck="false" type="text" id="workphone"
                                  name="workphone" class="form-control col text-left"
                                  placeholder="{{ 'Instructors.WorkPhone' | translate }}">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
