<div class="card">
  <div class="card-header d-md-flex">
    <h4 class="text-gray-600 mt-3"><span [translate]="'Students.ActiveRequests'"></span></h4>
    <a href="#/requests/list/active" class="text-primary ml-auto my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body pt-0">
    <ng-container *ngFor="let item of lastRequests$ | async">
      <ng-container>
        <div class="pb-3">
          <h5 class="card-title mb-1">{{ item?.dateModified | date:'short' }}</h5>
          <p class="card-text"><a class="text-decoration-none" [routerLink]="[ '/requests/', item.id ]" > {{ item?.description || item?.name }}</a>
            <span class="ml-2 text-muted">{{ item?.studentIdentifier }} {{ item?.familyName }} {{ item?.givenName }} ({{ item?.studyProgram }})</span>
          </p>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="(lastRequests$ | async)?.length === 0">
      <div class="pb-3">
        <span [translate]="'Dashboard.Empty'"></span>
      </div>
    </ng-container>
  </div>

</div>

