<div *ngIf="model">
  <div class="card" *ngIf="model?.length != 0">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Courses.CourseDetails'"></h5>
      <span *ngIf="showEdit && sourceTab !== 'coursesTab'"><a [routerLink]="['/study-programs', studyProgram.toString(), 'preview', 'specialization', specialization.toString(),'specialization-courses', 'courses', model.id, 'dashboard', 'general']" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a></span>
      <span *ngIf="!showEdit && sourceTab !== 'coursesTab'"><a [routerLink]="['/study-programs', studyProgram.toString(), 'preview', 'specialization', specialization.toString(),'specialization-courses', 'courses', model.id, 'dashboard', 'general']" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a></span>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row">
        <div class="col-12  text-dark">
          {{model?.name}}
        </div>
      </div>
      <div class="card-text row">
        <div class="col-12 col-md-6 text-secondary">
          <span> {{'Courses.IsEnabled.' + (model?.isEnabled? '1':'0')  | translate }}</span>
        </div>
      </div>
    </div>
    <div class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.displayCode'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.displayCode}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.instructorFullName'"></span>
        </div>
        <div class="col-7 text-dark">
          <a href="#/instructors/{{this.model?.instructor?.id}}/dashboard/overview">  {{model?.instructor?.givenName}} {{model?.instructor?.familyName}}</a>
        </div>
      </div>
      <div class="form-group row mb-1" *if-location="'/courses/units'">
        <div class="col-5">
          <span [translate]="'Courses.units'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.units}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.ects'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.ects}}</span>
        </div>
      </div>
      <div class="form-group row mb-1"  *if-location="'/students/departments'">
        <div class="col-5">
          <span [translate]="'Courses.Department'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model?.department?.abbreviation}}</span>
        </div>
      </div>
      <div class="form-group row mb-1">
        <div class="col-5">
          <span [translate]="'Courses.GradeScale'"></span>
        </div>
        <div class="col-7 text-dark">
          <span>{{model.gradeScale?.name}}</span>
        </div>
      </div>
      <div class="form-group row mb-1"  *if-location="'/courses/shared'">
        <div class="col-5">
          <span [translate]="'Courses.Shared'"></span>
        </div>
        <div class="col-7 text-dark">
          <span> {{'Courses.IsShared.' + (model?.isShared? '1':'0')  | translate }}</span>
        </div>
      </div>
      <div class="form-group row mb-1" *ngIf="model.replacedByCourse">
        <div class="col-5">
          <span [translate]="'Courses.replacedByCourse'"></span>
        </div>
        <div class="col-7 text-dark">
          <a [routerLink]="['/courses', model.replacedByCourse.id, 'dashboard', 'overview']"> [{{ model.replacedByCourse.displayCode}}] - {{model.replacedByCourse.name}}</a>
        </div>
      </div>
      <div class="form-group row mb-1" *ngIf="model.replacedCourse">
        <div class="col-5">
          <span [translate]="'Courses.replacedCourses'"></span>
        </div>
        <div *ngFor="let course of model.replacedCourse; let isLast=last" class="col-7 text-dark">
          <a [routerLink]="['/study-programs', studyProgram.toString(), 'preview', 'specialization', specialization.toString(), 'courses', course.id, 'dashboard', 'overview']"> [{{ course.displayCode}}] - {{course.name}}{{isLast ? '' : ', '}}</a>
        </div>
      </div>
    </div>
    <div *ngIf="model?.courseStructureType.id === 8" class="card-footer border-top py-4 text-secondary">
      <div class="form-group row mb-1">
        <div class="col-auto text-dark">
          <span [translate]="'Courses.ParentCourse'"></span>
          <a [routerLink]="['/study-programs', studyProgram.toString(), 'preview', 'specialization', specialization.toString(), 'courses', parentCourse?.id, 'dashboard', 'overview']"> {{parentCourse?.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="!model || model?.length == 0">
  <div class="card-header d-flex justify-content-between mt-3">
    <h5 class="mr-3  my-auto" [translate]="'Courses.CourseDetails'"></h5>
  </div>
  <div class="card-body pt-0 pb-3">
    <div class="card-text row">
      <div class="col-12  text-dark">
        <span [translate]="'Courses.NoGeneralInfo'"></span>
      </div>
    </div>
  </div>
</div>
